h1 {
    font-size: 35px;
    color: #82bb8f;
    text-align: center;
}
body {
    background-color: #866bb7;
}
p {
    font-size: 16px;
    color: #3c3f78;
    text-align: center;
}
img{
    align-content: center;
    width: 500px;
    height: auto;
    animation: alternate;
    animation-duration: 10s;
}

